.form-container {
  display: flex;
  justify-content: center;
}
.form {
  display: grid;
  margin-top: 5%;
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
input {
  margin-bottom: 20px;
  width: 100%;
}
input:last-child {
  margin-top: 20px;
}
.btn-back {
  background-color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -60px;
  border-radius: 5px;
}
span {
  color: red;
  font-size: 10px;
}
