.form-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.form {
  display: grid;
  margin-top: 5%;
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
}
input {
  margin-bottom: 20px;
  width: 100%;
}
input:last-child {
  margin-top: 20px;
}
.btn-back {
  background-color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10%;
  left: 35%;
  border-radius: 5px;
}
